.sign-up {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 20px;
  
    .title {
      margin: 10px 0;
    }
  }

  @media only screen and (min-width: 850px) {
    .sign-up {
        width: 380px;
        padding: 0;
    }
  }