body {
  font-family: 'Open Sans Condensed';
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
  body {
    padding: 20px 60px;
  }
}